html, body , #btns{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
}
body{
    text-align: center;
}

.player{
    display: inline-block;
    background-color: #69cbdd;
    width: 100px;
    height: 100px;
    text-align: center;
}

.call{
    background-color: #21dc03;
}

#btncall, #btnnewplayer{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    background-color: #69cbdd;
    font-size: xx-large;
}

#btngetvideo {
    height: 100px;
    z-index: 1000;
    display: inline-block;
}

iframe, #video{
    padding: 0 0 0 0;
    margin: 0 0 0 0 ;
}

#video{
    width: 800px;
    height: 480px;
    z-index: 1;
}

.disconnect{
    background-color: crimson;
}


.newplayer > #btncall{
    display: none;
}

.playerready > #btnnewplayer{
    display: none;
}

.srverror > #btncall, .srverror >#btnnewplayer{
    background-color: crimson;
}

.callplayer > #btncall{
    background-color: #21dc03;
}
